
@{
    ViewBag.Title = "Icon Button";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var f = Html.f();
}

<br />
<div class="row">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Icon", "Icon")</li>
        <li class="active">@Html.ActionLink("Button Icon", "Button")</li>
    </ul>
</div>

<br />

<div class="row">
    @f.Button("button", " Star").btn_lg().AddFirst(f.Icon("star"))
</div>
<br />
<div class="row">
    @f.Button("button", " Star").AddFirst(f.Icon("star"))
</div>
<br />

<div class="row">
    @f.Button("button", " Star").btn_sm().AddFirst(f.Icon("star"))
</div>
<br />

<div class="row">
    @f.Button("button", " Star").btn_xs().AddFirst(f.Icon("star"))
</div>
