@model Person
@{
    ViewBag.Title = "Horizontal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <ul class="nav nav-pills">
        <li class="active">@Html.ActionLink("Horizontal", "Horizontal")</li>
        <li>@Html.ActionLink("Inline", "Inline")</li>
        <li>@Html.ActionLink("Default", "Default")</li>
    </ul>
</div>

<br />

<div class="row">

    @using (var form = Html.f().Form().Horizontal().Label_col_sm(2).Input_col_sm(10).BeginForm())
    {
        @form.TextBoxFor(m => m.FirstName)
        @form.TextBoxFor(m=> m.LastName)
        @form.PasswordFor(m=>m.Password)
        @form.CheckBoxFor(m=>m.AcceptTerms)
        @form.RadioButtonFor(m => m.Gender, "M").LabelText("Male")
        @form.RadioButtonFor(m => m.Gender, "F").LabelText("Female")
        @form.DropDownListFor(m=>m.TimeZoneId,Model.AvailableTimeZones)
      
    } 

    
</div>