@using FlexHtmlHelper.Mvc;
@using FlexHtmlHelper.Mvc.Html;
@using FlexHtmlHelper.Render;
@model Person
@{
    ViewBag.Title = "Inline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Horizontal", "Horizontal")</li>
        <li class="active">@Html.ActionLink("Inline", "Inline")</li>
        <li>@Html.ActionLink("Default", "Default")</li>
    </ul>
</div>

<br />

<div class="row">

    @using (var form = Html.f().Form().Inline().Label_col_sm(2).Input_col_sm(10).BeginForm())
    {
        @form.TextBoxFor(Model => Model.FirstName)
        @form.TextBoxFor(Model => Model.LastName)
        @form.PasswordFor(Model => Model.Password)
        @form.CheckBoxFor(Model => Model.AcceptTerms)

    }


</div>



