@model Person
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Label", "Label")</li>
        <li>@Html.ActionLink("TextBox", "TextBox")</li>
        <li>@Html.ActionLink("CheckBox", "CheckBox")</li>
        <li class="active">@Html.ActionLink("Radio", "Radio")</li>
        <li>@Html.ActionLink("Select", "Select")</li>
        <li>@Html.ActionLink("TextArea", "TextArea")</li>
        <li>@Html.ActionLink("Style", "Style")</li>
    </ul>
</div>

<br />

<div class="row">
    @Html.f().RadioButton("Gender","M",true)
    @Html.f().RadioButton("Gender", "F")
</div>
<div class="row">
    @Html.f().RadioButtonFor(m=>m.Race,"White")
    @Html.f().RadioButtonFor(m => m.Race, "Black")
</div>
