@model Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.f().DropDownList("AvailableTimeZones")
</div>
<br />
<div class="row">
    @Html.f().DropDownList("AvailableTimeZones", "Select one")
</div>
<br />
<div class="row">
    @Html.f().DropDownList("TimeZoneId", Model.AvailableTimeZones)
</div>
<br />
<div class="row">
    @Html.f().DropDownList("TimeZoneId", Model.AvailableTimeZones, "Choose one")
</div>
<br />
<div class="row">
    @Html.f().DropDownListFor(m => m.TimeZoneId, Model.AvailableTimeZones).TagBuilder.Tag("select").ForEachChildTag("option", (t,i)=>t.AddTag("img").AddAttribute("src","test.png"))
</div>
<br />
<div class="row">
    @Html.f().DropDownListFor(m => m.TimeZoneId, Model.AvailableTimeZones, "Pick up one")
</div>

