@model Person
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Label", "Label")</li>
        <li>@Html.ActionLink("TextBox", "TextBox")</li>
        <li>@Html.ActionLink("CheckBox", "CheckBox")</li>
        <li>@Html.ActionLink("Radio", "Radio")</li>
        <li class="active">@Html.ActionLink("Select", "Select")</li>
        <li>@Html.ActionLink("TextArea", "TextArea")</li>
        <li>@Html.ActionLink("Style", "Style")</li>
    </ul>
</div>


<br />
<div class="row">
    @Html.f().DropDownList("AvailableTimeZones")
</div>
<br />
<div class="row">
    @Html.f().DropDownList("AvailableTimeZones", "Select one")
</div>
<br />
<div class="row">
    @Html.f().DropDownList("TimeZoneId", Model.AvailableTimeZones)
</div>
<br />
<div class="row">
    @Html.f().DropDownList("TimeZoneId", Model.AvailableTimeZones, "Choose one")
</div>
<br />
<div class="row">
    @Html.f().DropDownListFor(m => m.TimeZoneId, Model.AvailableTimeZones).TagBuilder.Tag("select").ForEachChildTag("option", (t,i)=>t.AddTag("img").AddAttribute("src","test.png"))
</div>
<br />
<div class="row">
    @Html.f().DropDownListFor(m => m.TimeZoneId, Model.AvailableTimeZones, "Pick up one")
</div>

