@model Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.f().TextBoxFor(m=>m.FirstName).placeholder("tpye first name here")
</div>
<br />
<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).placeholder("first name disabled").disabled()
</div>
<br />
<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).placeholder("first name large").large()
</div>
<br />
<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).placeholder("first name large").small()
</div>
<br />
<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).placeholder("first name auto focus").focus()
</div>