@model Person
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Label", "Label")</li>
        <li>@Html.ActionLink("TextBox", "TextBox")</li>
        <li>@Html.ActionLink("CheckBox", "CheckBox")</li>
        <li>@Html.ActionLink("Radio", "Radio")</li>
        <li>@Html.ActionLink("Select", "Select")</li>
        <li class="active">@Html.ActionLink("TextArea", "TextArea")</li>
        <li>@Html.ActionLink("Style", "Style")</li>
    </ul>
</div>

<br />

<div class="row">
    @Html.f().TextArea("Description")   
</div>
<div class="row">
    @Html.f().TextArea("Description","25 years old")
</div>
<div class="row">
    @Html.f().TextArea("Description", "25 years old",10)
</div>
<div class="row">
    @Html.f().TextArea("Description", "50 years old", 10,40,null)
</div>
<div class="row">
    @Html.f().TextAreaFor(m=>m.Description)
</div>
<div class="row">
    @Html.f().TextAreaFor(m => m.Description,10)
</div>
<div class="row">
    @Html.f().TextAreaFor(m => m.Description, 10,50, null)    
</div>