@model Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.f().TextArea("Description")   
</div>
<div class="row">
    @Html.f().TextArea("Description","25 years old")
</div>
<div class="row">
    @Html.f().TextArea("Description", "25 years old",10)
</div>
<div class="row">
    @Html.f().TextArea("Description", "50 years old", 10,40,null)
</div>
<div class="row">
    @Html.f().TextAreaFor(m=>m.Description)
</div>
<div class="row">
    @Html.f().TextAreaFor(m => m.Description,10)
</div>
<div class="row">
    @Html.f().TextAreaFor(m => m.Description, 10,50, null)    
</div>