@model Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.f().TextBox("FirstName")
</div>
<br />
<div class="row">
    @Html.f().TextBox("FirstName","John Junior")
</div>
<br />
<div class="row">
    @Html.f().TextBox("FirstName", "John Junior", "First Name: {0}")
</div>
<br />
<div class="row">
    @Html.f().TextBoxFor(m=>m.FirstName)
</div>
<br />
<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName,"First Name: {0}")
</div>
<br />
<div class="row">
    @Html.f().Password("Password")
</div>
<br />
<div class="row">
    @Html.f().Password("Password","1234")
</div>
<br />
<div class="row">
    @Html.f().PasswordFor(m=>m.Password)
</div>
<br />
<div class="row">
    @Html.f().Hidden("PersonId")
</div>
<br />
<div class="row">
    @Html.f().HiddenFor(m=>m.PersonId)
</div>

