@model Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).col_md(2).placeholder("col_md(2)")
</div>

<br />

<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).col_md(4).placeholder("col_md(4)")
</div>

<br />

<div class="row">
    @Html.f().TextBoxFor(m=>m.FirstName).col_md(6).placeholder("col_md(6)")    
</div>

<br />

<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).col_md(8).placeholder("col_md(8)")
</div>

<br />

<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).col_md(10).placeholder("col_md(10)")
</div>

<br />

<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).col_md(12).placeholder("col_md(12)")
</div>



