@model Person
@{
    ViewBag.Title = "Grid Column";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Row", "Row")</li>
        <li class="active">@Html.ActionLink("Column", "Column")</li>
        <li>@Html.ActionLink("Column Offset", "ColumnOffset")</li>
        <li>@Html.ActionLink("Column Order", "ColumnOrder")</li>
        <li>@Html.ActionLink("Column Visible", "ColumnVisible")</li>
    </ul>
</div>

<br />


<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).col_md(2).placeholder("col_md(2)")
</div>

<br />

<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).col_md(4).placeholder("col_md(4)")
</div>

<br />

<div class="row">
    @Html.f().TextBoxFor(m=>m.FirstName).col_md(6).placeholder("col_md(6)")    
</div>

<br />

<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).col_md(8).placeholder("col_md(8)")
</div>

<br />

<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).col_md(10).placeholder("col_md(10)")
</div>

<br />

<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).col_md(12).placeholder("col_md(12)")
</div>



