@model PagingModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.f().PagingLink(Model.TotalItemCount, Model.PageNumber, Model.PageSize, Model.MaxPagingLinks, p => @Url.Action("Paging", new {page = p}))
</div>
<br />
<div class="row">
    @Html.f().PagingLink(Model.TotalItemCount, Model.PageNumber, Model.PageSize, Model.MaxPagingLinks, p => @Url.Action("Paging", new { page = p })).pagination_lg()
</div>
<br />
<div class="row">
    @Html.f().PagingLink(Model.TotalItemCount, Model.PageNumber, Model.PageSize, Model.MaxPagingLinks, p => @Url.Action("Paging", new { page = p })).pagination_sm()
</div>


